.avatar-wrapper{
    position: relative;
}
.gradient-border{
    position: absolute;
    top: 70px;
    left: -10px;
    width: 300px;
    height: 300px;
    border: 1px solid transparent;
    border-radius: 50%;
    background: var(--gradientToPink);
}
.avatar-container{
    position: absolute;
    top: 50px;
    left: 120px;
    animation: floatRotate 6s ease-in-out infinite;
}
@keyframes floatRotate {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-15px) rotate(2deg);
  }
  50% {
    transform: translateY(0) rotate(0deg);
  }
  75% {
    transform: translateY(15px) rotate(-2deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}
.avatar-container img{
    width: 300px;
    height: 300px;
}
.code-icon{
    position: absolute;
    top: 30px;
    left: -70px;
}
.pen-icon{
    position: absolute;
    top: 350px;
    left: 250px;
}