.about-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 20px;
}
.left-content{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    border-radius: 20px;
    background: var(--gradientToPink);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(228, 157, 239, 0.1),
                0 0 20px rgba(242, 127, 227, 0.2),
                0 0 30px rgba(187, 129, 219, 0.3),
                0 0 40px rgba(204, 172, 188, 0.4),
                0 0 50px rgba(203, 158, 182, 0.5);
}
.about-image{
    width: 150px;
    height: 150px;
    margin-top: 50px;
    transition: transform 0.3s ease;
}
.about-image:hover {
    transform: scale(1.1);
}
.left-name{
    margin: 0;
    color: white;
}
.left-major{
    margin-top: 0px;
    font-weight: 300;
    color: rgb(242, 242, 242);
}
.left-social-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 20px;
    padding: 20px 0;
    margin: 0;
}
.left-social-item{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease;
}
.left-social-icon{
    width: 40px;
    height: 40px;
    filter: brightness(0.6) invert(1);

}
.left-social-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    background: rgba(255, 255, 255, 0.4);
}
.right-content{
    width: 80%;
    padding: 20px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    height: 400px;
}
.about-tabs{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    gap: 30px;
    margin: 0;
    background: #f5f5f5;
    border-radius: 12px;
}
.tab-item {
    color: var(--text-menu);
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 10px;
    transition: transform 0.5s ease;
    z-index: 2;
}
.tab-item:hover {
    transform: scale(1.1);
}
.tab-item.active {
    color: white;
}
.tab-indicator {
    position: absolute;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    background: var(--gradientToPink);
    z-index: 1;
    border-radius: 10px;
    transition: width 0.5s ease, left 0.3s ease;
}
.tab-indicator[data-active="bio"] {
    width: 33%;
    left: 0;
}
.tab-indicator[data-active="education"] {
    width: 33%;
    left: 33%;
}
.tab-indicator[data-active="interests"] {
    width: 33%;
    left: 66%;
}
.tab-bio, .tab-education {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tab-bio p, .tab-bio li
{
    line-height: 1.5;
    font-weight: 300;
    color: var(--text-menu);
}
.education-about p, .education-about li {
    line-height: 1.5;
    font-weight: 300;
    color: var(--text-menu);
}
.title{
    margin-top: 20px;
    margin-bottom: 0;
}
.bio-card{
    padding: 20px;
    border-radius: 10px;
}
.bio-card h3{
    margin: 0;
    font-weight: 600;
}
.bio-about, .education-about, .interest-bio {
    background: var(--gradientBackground);
    animation: fadeLeft 0.5s ease;
}
@keyframes fadeLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.bio-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.bio-goals{
    background: #EBF9FE;
    width: 50%;
    height: 150px;
    animation: fadeLeft 0.5s ease;
}
.bio-long-term-goals{
    background: #FEECFE;
    width: 50%;
    height: 150px;
    animation: fadeLeft 0.5s ease;
}
.bio-icon{
    color: var(--primary);

}
.tabs-content{
    height: calc(100% - 50px);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}
.tabs-content:hover {
    scrollbar-color: var(--primary) transparent;
}
.tabs-content::-webkit-scrollbar {
  width: 8px;
}
.tabs-content::-webkit-scrollbar-track {
  background: transparent;
}
.tabs-content::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}
.tabs-content:hover::-webkit-scrollbar-thumb {
  background: var(--primary);
}
.education-list {
    list-style-type: none;
    padding-left: 20px;
    margin: 0;
}
.interest-about{
    margin: 20px 0;
}
.interest-column{
    display: flex;
    flex-direction: row;
    width: 50%;
    gap: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    animation: fadeLeft 0.5s ease;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}
.interest-column:hover {
    transform: translateY(-5px);
    border-color: rgba(223, 76, 228, 0.2);
}
.interest-icon-container{
    width: 50px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: var(--gradientBackground);
}
.interest-content p {
    margin: 0;
    font-weight: 300;
    color: var(--text-menu);
}
.interest-icon{
    color: var(--primary);
    width: 20px;
    height: 20px;
}
.interest-bio{
    margin-top: 40px;
    font-weight: 400;
    color: var(--text-menu);
    border-radius: 10px;
    padding: 20px 20px;
    border: 1px solid rgba(60, 128, 255, 0.1);
    animation: fideDown 0.5s ease;
}