.modal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 14px 1px rgb(192, 181, 181, 0.6);
    border: 1px solid var(--secondary);
    border-radius: 15px;
}